.heroscreen-container {
    position: relative;
    overflow: hidden;
  }
  
  .heroscreen-slide1, .heroscreen-slide2, .heroscreen-slide3 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .heroscreen-slide1 {
    background-image: url("../../../assets/headerimage1.jpg");
  }
  
  .heroscreen-slide2 {
    background-image: url("../../../assets/headerimage2.jpg");
  }
  .heroscreen-slide3 {
    background-image: url("../../../assets/headerimage3.jpg");
  }
  
  /* Add more styles for additional slides if necessary */
  